body{
	margin: 0;
	padding: 0;
	color: #4848484;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
div.container{
	max-width: 1000px;
	/* text-align: center; */
	margin: 30px auto;
}
@media (max-width: 480px) {
	body {
	  font-size: 12px;
	}
  }
